<div class="container">


  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center title text-center page-header">Portfolio gifts</h1>
        <br>
    </div>

       <div class="col-lg-4">
          <div class="hovereffect">
            <img class="img-responsive2"  src="/assets/gift1business.jpg" alt="">

            <div class="overlay">
              <h2><%= link_to "OPTION # 1", gift1_index_path %></h2>
              <h2><%= link_to "THE BUSINESS BRAINS", gift1_index_path %></h2>
              <p> 
                <%= link_to "CLICK HERE", gift1_index_path %>
              </p> 
            </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="hovereffect">
            <img class="img-responsive2"  src="/assets/gift2facebook.jpg" alt="">
            <div class="overlay">
              <h2><%= link_to "OPTION # 2", gift2_index_path %></h2>
              <h2><%= link_to "FACEBOOK APPS SECRETS", gift2_index_path %></h2>
              <p> 
                <%= link_to "CLICK HERE", gift2_index_path %>
              </p> 
            </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="hovereffect">
            <img class="img-responsive2"  src="/assets/gift3homebusiness.jpg" alt="">
            <div class="overlay">
              <h2><%= link_to "OPTION # 3", gift3_index_path %></h2>
              <h2><%= link_to "BUILD YOUR HOME BUSINESS", gift3_index_path %></h2>
              <p> 
                <%= link_to "CLICK HERE", gift3_index_path %>
              </p> 
            </div>
          </div>
      </div>
</div>

      <div>
        <br>
        <h3><font color="#F3B020">NOTE:</font> Our connections allow us to offer free of charge products for you to download and enjoy!</h3>
        <br>
        <h4>Once you download one, two or three products you will be registered to our Newsletter Subscription where you will receive  amazing new products, special offers and free of charge gifts!</h4>
        <br>
        <h4>Enjoy your products!</h4>
        <h4>Sincerely,</h4>
        <h4><b><i><em><font color="#F3B020">Solo Shoppers Team</font></em></i></b></h4>
      </div>
  <br>
</div>