
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/presents.jpg" alt="redcar" class="img-responsive">
            <div class="carousel-caption">
             
              <a href="/freeproducts"><input type="submit" value="View my free Products" class="btn btn-lg btn-warning text-center"/></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/slidernewpic.jpg" alt="redcar" class="img-responsive"> 
            <div class="carousel-caption">
           
              <a href="/products"><input type="submit" value="View all Products" class="btn btn-lg btn-warning text-center"/></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/library.jpg" alt="redcar" class="img-responsive"> 
            <div class="carousel-caption">
              <!-- <h2>Categories</h2> -->
              <a><input type="submit" value="Scroll down to View categories" class="btn btn-lg btn-warning text-center"/></a>
            </div>
        </div>
    </div>


   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>


<div class="container">
  <h1 class="text-center title text-center page-header"> Download free courses! </h1>
     

  <div class="row">
    <div class="col-lg-6">
      <div class="hovereffect">
      <img class="img-responsive" src="assets/free-gifts.jpg" alt="">
        <div class="overlay">
          <h2 ><%= link_to "FREE GIFT OPTIONS", freeproducts_path%></h2>
          <p> 
            <a href="/freeproducts">CLICK HERE</a>
          </p> 
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <h2>About S<font color="#F3B020">Ⓞ</font>L<font color="#F3B020">Ⓞ</font> SH<font color="#F3B020">Ⓞ</font>PPERS</h2>
        <p>At Solo Shoppers we take care of our customers, always offering the best and more reliable products in the market. If you can't find what you are looking for, send us an <a href="mailto:asproser.commerce@gmail.com">email</a> and we will find it for you. Our connections allow us to offer special prices <font color="#F3B020">(sometimes free products)</font> that you can download with a click of a button!</p>
        <p>You can browse through our categories and products to find whatever you like and take advantage of our great prices.</p>

        <h2>Newsletter</h2>        
        <p>There are 3 main gifts you can select from, click on the image to see the special products we have to offer <font color="#F3B020">(free of charge!)</font>.</p>
         <p>By downloading a free gift you will automatically get (free of charge) Subscription to our weekly Newsletter to stay tuned to the latest products.</p>
         
        <div class="input-prepend text-center">
          <a href="/freeproducts"><input type="submit" value="View my free gifts" class="btn btn-lg btn-warning text-center"/></a>
        </div>
    </div>
  </div>

  <br>

  <% if @categories.count == 0 %>
    <p>There are no Categories to display. Please enter a new category!</p>
    <%= link_to "Add Category", new_category_path %>
  <% else %>
    <div class="row">
      <div class="col-lg-12">
          <h1  class="text-center title text-center page-header">Portfolio Categories</h1>
          <br>
      </div>
      <% @categories.each do |category|  %>
        <div class="col-lg-4">
          <div class="hovereffect">
              <%= image_tag category.category_image.url(:category_index), class: "img-responsive2"%>
            <div class="overlay">
              <h2><%= link_to category.name, category_path(category) %></h2>
              <p> 
                <a href="/categories/<%= category.id %>">CLICK HERE</a>
              </p> 
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  <% end %>
</div>

<br>

<div class="container">
<div class="recommended_items"><!--recommended_items-->
  <div>
    <h2 class="title text-center page-header" >Most Popular Products</h2>
       
      <br>
    <div>
 
      <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active"> 
            <% @products.each do |product|%>
              <% if product.category_id == 1 || product.category_id == 4%>
                <div class="col-lg-4">
                  <div class="hovereffect">
                      <img src="<%= product.product_image %>" alt="#{product.url}" class="img-responsive2">
                    <div class="overlay">
                      <h2><%= link_to  product.title , "#{product.url}", {:style=>'color: white;'} %></h2>
                      <h1><%= link_to  product.description , "#{product.url}", {:style=>'color: white;'} %></h1>
                      <p> 
                        <%= link_to "CLICK HERE", (product.url)%> 
                      </p> 
                       <p>
                      <% if user_signed_in? %>
                        <% if @products.first.user_id == current_user.id %>
                          <%= link_to "edit Product", edit_product_path(product) %>
                          <p><%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure you want to delete?"}%></p>
                        <% end %>
                      <% end %>
                    </p> 
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="item">  
            <% @products.each do |product|%>
              <% if product.category_id == 2 || product.category_id == 8%>
                <div class="col-lg-4">
                  <div class="hovereffect">
                      <img src="<%= product.product_image %>" alt="#{product.url}" class="img-responsive2">
                    <div class="overlay">
                      <h2><%= link_to  product.title , "#{product.url}", {:style=>'color: white;'} %></h2>
                      <h1><%= link_to  product.description , "#{product.url}", {:style=>'color: white;'} %></h1>
                      <p>
                        <%= link_to "CLICK HERE", (product.url)%> 
                      </p> 
                       <p>
                      <% if user_signed_in? %>
                        <% if @products.first.user_id == current_user.id %>
                          <%= link_to "edit Product", edit_product_path(product) %>
                          <p><%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure you want to delete?"}%></p>
                        <% end %>
                      <% end %>
                    </p> 
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
        </a>      
      </div>
    </div><!--/recommended_items-->
     <div class="col-md-12 text-center" id="view-all-products-button"> 
          <a href="/products" class="btn btn-lg btn-warning" role="button">View all products</a>
        </div>
  </div>
</div>
<br>
</div>