<div class="container">
  <h1>Products</h1>
  <% if @products.count == 0 %>
    <p>There are no Products to display. Please enter a new Product!</p>

  <% else %>
  <% @products.each do |product|  %>
    <h2><%= link_to product.title, product_path(product) %></h2>
    <a href="/products/<%= product.id %>"><%= image_tag product.product_image.url(:product_index) %></a> 
    <p>Product Description:  <%= product.description %></p>

    <% end  %>
  <% end %>
  <%= link_to "Add Product", new_product_path %>
</div>