<div class="container">

<% if user_signed_in? %>
      <%= link_to "Add Product", new_product_path %>
<% end %>

  <h1 class="text-center title text-center page-header">Products</h1>
  <% if @products.count == 0 %>
    <p>There are no Products to display. Please enter a new Product!</p>

  <% else %>
  <% @products.each do |product|  %>
      <div class="col-lg-4">
          <div class="hovereffect">
              <img src="<%= product.product_image %>" alt="#{product.url}" class="img-responsive2">
            <div class="overlay">
              <h2><%= link_to  product.title , "#{product.url}", {:style=>'color: white;'} %></h2>
              <p> 
                <%= link_to "CLICK HERE", (product.url)%> 
              </p>
              <p>
                <% if user_signed_in? %>
                  <% if @products.first.user_id == current_user.id %>
                    <%= link_to "edit Product", edit_product_path(product) %>
                    <p><%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure you want to delete?"}%></p>
                  <% end %>
                <% end %>
              </p> 
            </div>
          </div>
      </div>
    <% end  %>
  <% end %>
</div>